
@{
    ViewData["Title"] = "Category";
}

<div class="row owl-carousel owl-theme">
        @for (int j = 0; j < 15; j++)
        {
            <div class="card" style="width: 9%; height: 9%;" title="catagery">
                <img class="card-img-top" src="~/Images/img-cat-phone.jpg" style="width: 100%" />
                <div class="text-center">
                    <div class="card-text small">Phone</div>
                </div>
            </div>
        }
    </div>
    <script>
        $(document).ready(function () {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                loop: true,
                margin: 10,
                navRewind: false,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 3
                    },
                    1000: {
                        items: 5
                    }
                }
            })
        })
    </script>