
@{
    ViewData["Title"] = "";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
<!--Hearder-->
@await Html.PartialAsync("Header");
<!--Body-->
<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm-9">

        <!--Caroulse Catagory-->
        @await Html.PartialAsync("Category")
        <!--Caroulse Products-->
        @await Html.PartialAsync("CarouselProducts")

    </div>
    <div class="col-sm"></div>
</div>
