
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
<!--Tài Here-->
<div>

</div>



<!--Dưỡng Here-->

<div class="card" style="width: 200px" data-toggle="tooltip" title="áo sơ mi nữ trắng thanh lịch">
    <a href="#"><img class="card-img-top" src="~/Images/img-002.jpg" /></a>
    <div class="card-footer">
        <a class="card-title" style="text-decoration-line: none;" href="#">áo sơ mi nữ trắng thanh lịch</a><br />
        <div>
            <small class="fa fa-eye"> 500</small>
            <div class="float-right">
                <small class="fa fa-star text-warning"></small>
                <small class="fa fa-star text-warning"></small>
                <small class="fa fa-star text-warning"></small>
                <small class="fa fa-star text-warning"></small>
                <small class="fa fa-star-half-alt text-warning"></small>
            </div>
        </div>
        <div class="ng-hide">
            <a class="btn btn-warning"><b>Buy</b></a>
            <a class="btn btn-warning float-right"><i class="fa fa-shopping-cart"></i></a>
        </div>
    </div>
</div>
