
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
<!--Hearder-->
<div class="row" style="background-color: rgb(35,47,62);">
    <div class="col-sm"></div>
    <div class="col-sm-9">
        <nav class="navbar-expand-sm navbar-dark row pt-2">
            <form class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Car</a>
                            <a class="dropdown-item" href="#">Baby</a>
                            <a class="dropdown-item" href="#">Laptop</a>
                        </div>
                    </div>
                    <input type="text" class="form-control" />
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </form>
            <div class=""><img src="https://images-na.ssl-images-amazon.com/images/G/01/img18/events/otc/gw/otc_swm_landing_b_400x39_t3_v2._CB472720356_.png" /></div>
        </nav>           
        <nav class="navbar-expand-sm navbar-dark row pt-2 float-right">
            <form class="row text-white position-relative">
                <h4 class=""><i class="fa fa-shopping-cart text-warning"></i></h4>
                <b class="small">0</b>
            </form>
        </nav>
    </div>
    <div class="col-sm"></div>
</div>
<!--Body-->
<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm-9">

        <!--Tài Here-->
        <div>
            
        </div>

        <!--Dưỡng Here-->
        <div class="">
            <div id="demo" class="carousel slide position-relative" data-interval="false" style="height: 350px;">
                <div class="carousel-inner position-absolute">
                    @for (int i = 0; i < 3; i++)
                    {
                        var s = "active";
                        var width_card =  1150/6 + "px";
                        if (i == 0)
                        {
                            <div class="carousel-item @s">
                                <div class="d-inline-flex">
                                    @for (int j = 1; j < 7; j++)
                                    {
                                        <div class="mr-2" style="width: @width_card;" data-toggle="tooltip" title="áo sơ mi nữ trắng thanh lịch">
                                            <div class="card">
                                                <img class="card-img-top" src="~/Images/img-002.jpg" />
                                                <div class="pl-2 pr-2 bg-light">
                                                    <a class="card-text" style="text-decoration-line: none;" href="#">áo sơ mi nữ trắng thanh lịch</a><br />
                                                    <div class="pt-1" style="font-size: 10px;">
                                                        <div class="fa fa-eye"> 500</div>
                                                        <div class="float-right">
                                                            <i class="fa fa-star text-warning"></i>
                                                            <i class="fa fa-star text-warning"></i>
                                                            <i class="fa fa-star text-warning"></i>
                                                            <i class="fa fa-star text-warning"></i>
                                                            <i class="fa fa-star-half-alt text-warning"></i>
                                                            <span>(6)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="Button-card" href="#">
                                                    <span class="btn btn-warning float-right" data-toggle="tooltip" title="Thêm vào giỏ hàng"><i class="fa fa-shopping-cart"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        <div class="carousel-item">
                            <div class="d-inline-flex">
                                @for (int j = 1; j < 7; j++)
                                {
                                    <div class="mr-2" style="width: @width_card;" data-toggle="tooltip" title="áo sơ mi nữ trắng thanh lịch">
                                        <div class="card">
                                            <img class="card-img-top" src="~/Images/img-002.jpg" />
                                            <div class="pl-2 pr-2 bg-light">
                                                <a class="card-text" style="text-decoration-line: none;" href="#">áo sơ mi nữ trắng thanh lịch</a><br />
                                                <div class="pt-1" style="font-size: 10px;">
                                                    <div class="fa fa-eye"> 500</div>
                                                    <div class="float-right">
                                                        <i class="fa fa-star text-warning"></i>
                                                        <i class="fa fa-star text-warning"></i>
                                                        <i class="fa fa-star text-warning"></i>
                                                        <i class="fa fa-star text-warning"></i>
                                                        <i class="fa fa-star-half-alt text-warning"></i>
                                                        <span>(6)</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="Button-card" href="#">
                                                <span class="btn btn-warning float-right" data-toggle="tooltip" title="Thêm vào giỏ hàng"><i class="fa fa-shopping-cart"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
                <div class="position-absolute" style="height: 50%; bottom: 10px; width:100%;">
                    <a class="float-left bg-dark text-center" style="height: 25px; width: 25px; border-radius: 50%; margin-left: -15px;" href="#demo" data-slide="next">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                    <a class="float-right bg-dark text-center" style="height: 25px; width: 25px; border-radius: 50%; margin-right: -15px" href="#demo" data-slide="next">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm"></div>
</div>
