
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
<!--Tài Here-->
<div>

</div>



<!--Dưỡng Here-->

<div class="card" style="width: 200px">
    <img class="card-img-top" src="~/Images/img01.jpg" />
    <div class="card-body">
        <p class="card-text">abc</p>
    </div>
</div>
